@import "tailwindcss";

/* Para el nombre */
.font-great-vibes {
  font-family: 'Great Vibes', cursive !important;
}

/* Para mis XV años */
.font-crimson {
  font-family: 'Crimson Text', serif !important;
}

/* Para dedicatoria*/
.font-cormorant {
  font-family: 'Cormorant Garamond', serif !important;
}

/*Para texto con Charm */
.font-charm {
  font-family: 'Charm', cursive !important;
}

/* Para el nombre con Runalto */
.font-runalto {
  font-family: 'Runalto', cursive !important;
}

/* Para Mis 15 años con HanifahSalamah */
.font-hanifah {
  font-family: 'HanifahSalamah', cursive !important;
}

@font-face {
  font-family: 'Runalto';
  src: url('/fonts/Runalto.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HanifahSalamah';
  src: url('/fonts/HanifahSalamah.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}